/*
 * Toolbar styles
 */

#toolbar {
    position: fixed;
    bottom: 0; left: 0;
    padding: 10px;
}

.slideshow #toolbar       { opacity: 0.1; }
.slideshow #toolbar:hover { opacity: 0.7; }

    #toolbar li {
        float: left;
        margin-right: 5px;
        text-indent: -9999px;
    }

        #toolbar li a {
            display:block;
            width: 24px; height: 24px;
            background: url(icons.png) no-repeat 0 0;
        }

        #toolbar .slide-toggle a       { background-position: -48px   0;   }
        #toolbar .slide-toggle a:hover { background-position: -48px -24px; }

        .slideshow #toolbar .slide-toggle a       { background-position: -72px   0;   }
        .slideshow #toolbar .slide-toggle a:hover { background-position: -72px -24px;   }

        #toolbar .slide-prev a       { background-position: 0   0;   }
        #toolbar .slide-prev a:hover { background-position: 0 -24px; }

        #toolbar .slide-next a       { background-position: -24px   0;   }
        #toolbar .slide-next a:hover { background-position: -24px -24px; }


/*
 * Generic slides styles
 */

/* hide all slideshow elements in body */
.slideshow-only { display: none; }

/* but show them when document is in slideshow mode */
.slideshow .slideshow-only { display: block; }

.slideshow .slide {
    position: relative;
    height: 800px;
}

.slideshow .overlay,
.slideshow .slide iframe {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    border: 0;
    width: 100%; height: 100%;
    overflow: hidden;
}

    .slideshow .overlay a {
        position: absolute;
        top: 0; right: 0;
        padding: 0.25em;
        background: #FFFFCC;
        -moz-border-radius-bottomleft: 0.25em;
        -webkit-border-bottom-left-radius: 0.25em;
    }


/*
 * My slide-show styles
 */

.slideshow .slide {
    font-size: 2em;
}

  .slideshow h1 { font-size: 6em; }
  .slideshow h2 { font-size: 3em; }

  .slideshow .content.slide {
      padding: 2em;
  }

  .slideshow p {
      margin: 1em 0;
  }

/* Title slide */

  .slideshow #title {
      padding: 5em 0;
  }

    .slideshow #title h1,
    .slideshow #title p {
        width: 800px;
        margin: auto;
        text-align: center;
    }

