/*
 * Reset CSS
 */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code, del, em, img, ins, strong, sub, sup,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0;
    border: 0; outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }

body {
    font-family: "Lucida Bright","Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
    width: 600px;
    margin: 2em auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Bright","Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
    font-weight: normal;
    margin-top: 0.5em;
}

h1 { font-size:   4em; }
h2 { font-size:   3em; }
h3 { font-size:   2em; }
h3 { font-size: 1.5em; }

p {
    line-height: 1.3;
    margin-top: 0.5em;
}

.tagline {
    font-size: 1.5em;
    margin-top: 0;
    color: #555555;
}


